extends layout

block body-content
  // Header
  header#header
    h1 Ladies in Bitcoin
      span.titleSpan .
    p
      | !{subText}
  // Signup Form
  form#signup-form(method='post' action='https://formspree.io/f/xbjwgeoq')
    input#email(type='email' name='email' placeholder='Email Address')
    input(type='submit' value='Sign Up')
  // Footer
  footer#footer
    ul.icons
      li
        a.icon.brands.fa-twitter(href='https://www.twitter.com/bitcoinladies')
          span.label Twitter
      li
        a.icon.brands.fa-instagram(href='https://www.instagram.com/bitcoinladies')
          span.label Instagram
      li
        a.icon.brands.fa-linkedin(href='#')
          span.label Linkedin
      li
        a.icon.fa-envelope(href='mailto:hello@bitcoinladies.org')
          span.label Email
    ul.copyright
      li &copy; 2022 Ladies in Bitcoin.
      li
        | Credits: 
        a(href='http://html5up.net') HTML5 UP
  // Scripts
  script(src='/assets/js/main.js')
